@use "@revyn/styles" as *;

.nav {
  @include grid(repeat(12, 1fr));
  background-color: transparent;
  width: 100%;
  padding: $padding $padding-large;
  position: relative;
  z-index: 100;

  &__logo {
    @include fixedRatio(calc($base * 2), 1);
    grid-column: span 3;
  }
  &__list {
    @include flex(row, space-between, center);
    grid-column: span 6;
    @include fontIngress;
    font-weight: $fwBold;
    font-family: $ffHeading;
    &--item {
      padding: $padding-sml $padding;
      border-radius: $radius;
      letter-spacing: 1.5px;
      transition: background 0.6s ease-in-out;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        background-color: $clrRevyPrimary;
        bottom: 0;
        left: 0;
        transition: all 0.3s ease;
      }
      &:hover::before {
        width: 100%;
      }
    }
    &--item.active {
      color: $clrRevyPrimary;
    }
  }
  button:not(.menu__toggle) {
    grid-column: span 3;
    justify-self: end;
    @media screen and (max-width: $breakpointDesktop) {
      grid-column: 6 / 8;
      justify-self: center;
    }
  }
}
