@use "@revyn/styles" as *;

.nav {
  @include grid(repeat(8, 1fr));
  @include absolute(top, left, $base, 50%);
  transform: translateX(-50%);
  @include glassMorph($grayscaleGlass);
  width: 60%;
  padding: $padding $padding-large;
  z-index: 100;

  &__logo {
    @include fixedRatio(calc($base * 2), 1);
    grid-column: span 2;
  }
  &__list {
    @include flex(row, space-between, center);
    grid-column: span 4;
    @include fontIngress;
    font-weight: $fwBold;
    font-family: $ffHeading;
    & > * {
      padding: $padding-sml $padding;
      border-radius: $radius;
      letter-spacing: 1.5px;
      transition: background 0.6s ease-in-out;
      &:hover {
        background-color: $clrRevyPrimary;
      }
    }
  }
  button {
    grid-column: span 2;
    justify-self: end;
  }
}
