@use "@revyn/styles" as *;

body:has(.construction) {
  @include bgGroup("./opening.jpg", cover, center);
  background-color: #0000ff;
  background-blend-mode: darken;
  padding-block: $padding-huge;
}

.construction {
  height: 100vh;
  @include center;
  gap: $gap-huge;
  justify-items: center;
  &__headline {
    text-align: center;
    @include fontH1;
    font-size: calc($fsBase * 5);
    font-family: $ffHeading;
    color: $grayscaleLight;
    position: relative;
    &::before {
      content: "";
      @include fixedRatio(calc($base * 20), 1);
      @include absolute(top, left, -4.5em, 50%);
      transform: translateX(-50%);
      background-image: url("./logo.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  &__info {
    @include center;
    justify-items: center;
    gap: $gap;
    text-align: center;
    @include fontParagraph;
    font-family: "Salsa", sans-serif;
    color: $grayscaleLight;
  }
}

@media screen and (max-width: $breakpointLarge) {
  .construction {
    padding: $padding;
    &__headline {
      font-size: calc($fsBase * 4);
      &::before {
        width: calc($base * 15);
      }
    }
  }
}
