@use "@revyn/styles" as *;

.modalContainer {
  @include absolute(top, left, 50%, 50%);
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  background: $gradientPrimary;
  box-shadow: $shadow;
  @media screen and (min-width: $breakpointDesktop) {
    width: 50%;
  }
}
