@use "@revyn/styles" as *;

.modalContainer {
  @include fixed(top, left);
  width: 90%;
  height: auto;
  background: $gradientPrimary;
  box-shadow: $shadow;
  @media screen and (min-width: $breakpointDesktop) {
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
