@use "@revyn/styles" as *;

.general__card {
  @include flex(column, space-around, center);
  box-shadow: $shadowHover;
  padding: $padding-large;
  font-family: $ffParagraph;

  &--title {
    @include fontH1;
    font-size: calc($fsBase * 2);
    strong {
      text-transform: uppercase;
      font-family: $ffIngress;
      color: $clrDanger;
      @include textShadow($clrDanger, $clrDanger);
    }
  }
  &--text {
    @include fontParagraph;
    font-size: $fsBase;
    color: $clrRevyPrimary;
    line-height: 2;
  }
}
