@use "@revyn/styles" as *;

#home,
.home {
  height: calc(100vh - 82px);
  width: 80vw;

  figure {
    position: absolute;
    inset: 0;
    overflow: hidden;
    z-index: 1;
    background-image: url("./tack_2025.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    @media screen and (max-width: $breakpointTablet) {
      background-image: url("./tack_2025.png");
      background-size: contain;
      background-position: center center;
    }
  }

  h1 {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    @include center;
    @include fontH1;
    font-size: calc($fsBase * 6);
    font-family: $ffHeading;
    text-align: center;
    @media screen and (max-width: $breakpointTablet) {
      font-size: calc($fsBase * 4);
      width: max-content;
    }
    /* background: rgba(0, 0, 0, 1);
    mix-blend-mode: multiply; */
    /* @media screen and (min-width: $breakpointTablet) {
      font-size: calc($fsBase * 6);
    }
    @media screen and (min-width: $breakpointTabletLarge) {
      font-size: calc($fsBase * 8);
    }
    @media screen and (min-width: $breakpointDesktop) {
      font-size: calc($fsBase * 12);
    }
    @media screen and (min-width: $breakpointHuge) {
      font-size: calc($fsBase * 14);
    }
    @media screen and (min-width: $breakpointGigantic) {
      font-size: calc($fsBase * 20);
    } */

    span {
      display: block;
      font-size: calc($fsBase * 3);
      color: $grayscaleDark;
      font-weight: bold;
      background: $gradientPrimary;

      @media screen and (max-width: $breakpointTablet) {
        font-size: calc($fsBase * 2);
      }
    }
  }
  h2 {
    @include fontH1;
    text-transform: uppercase;
    text-align: center;
  }

  .info__tickets {
    @include grid(repeat(3, 1fr));
    gap: $gap-large;
    padding-block: $padding-large;

    @media screen and (max-width: $breakpointTablet) {
      grid-template-columns: 100%;
      padding-block: 0;
    }
    &--card {
      background: $gradientDark;
      z-index: 10;
      @include fixedRatio(calc($base * 20), 2 / 1);
      padding: $padding;
      @include flex(column, space-around, center);
      box-shadow: $shadowHover;

      @media screen and (min-width: $breakpointDesktop) {
        grid-column: 1 / 2;
      }

      &-type {
        @include fontH3;
        font-size: calc($fsBase * 2);
        font-family: $ffIngress;
        color: $clrRevyPrimary;
        text-shadow: 1px 1px 2px maroon, 0 0 1em orange, 0 0 0.2em orange;

        @media screen and (min-width: $breakpointTablet) {
          font-size: calc($fsBase * 3);
        }
      }
      &-price {
        @include fontParagraph;
        font-size: calc($fsBase * 2.5);
        font-family: $ffHeading;
        padding-inline: calc($padding-huge * 2);
        text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(252, 251, 250),
          0 0 0.1em rgb(254, 254, 253);

        @media screen and (min-width: $breakpointTablet) {
          font-size: calc($fsBase * 4);
        }
      }
      &-service,
      &-limit {
        font-family: $ffIngress;
      }
      &-limit {
        min-height: calc($base * 1);

        @media screen and (min-width: $breakpointTablet) {
          min-height: calc($base * 2);
        }
      }
    }
  }
}
