@use "@revyn/styles" as *;

#home,
.home {
  &__hero {
    position: relative;
    &--image {
      @include fixedRatio(100%, 0.35);
      @include bgGroup("./opening.jpg", cover, top center);
      background-color: #2803f9;
      background-blend-mode: darken, multiply;
      @media screen and (min-width: $breakpointMobile) {
        aspect-ratio: 0.45;
      }
      @media screen and (min-width: $breakpointTablet) {
        aspect-ratio: 0.6;
      }
      @media screen and (min-width: $breakpointTabletLarge) {
        aspect-ratio: 0.8;
      }
      @media screen and (min-width: $breakpointDesktop) {
        aspect-ratio: 1.1;
      }
      @media screen and (min-width: $breakpointLarge) {
        aspect-ratio: 1.3;
      }
      @media screen and (min-width: $breakpointHuge) {
        aspect-ratio: 1.5;
      }
      @media screen and (min-width: $breakpointGigantic) {
        aspect-ratio: 1.8;
      }
    }
    &--title {
      @include absolute(top, left, 50%, 50%);
      transform: translate(-50%, -50%);
      @include grid(100%);
      gap: $gap-huge;
      h1 {
        @include fontH1;
        font-size: calc($fsBase * 4);
        font-family: $ffHeading;
        @include flex(row, center, baseline);
        @media screen and (min-width: $breakpointTablet) {
          font-size: calc($fsBase * 5);
        }
        @media screen and (min-width: $breakpointTabletLarge) {
          font-size: calc($fsBase * 6);
        }
        @media screen and (min-width: $breakpointDesktop) {
          font-size: calc($fsBase * 7);
        }
        @media screen and (min-width: $breakpointHuge) {
          font-size: calc($fsBase * 8);
        }
        img {
          width: calc($fsBase * 10);
          @media screen and (max-width: $breakpointTablet) {
            width: calc($fsBase * 4);
          }
        }
      }
      &-actions {
        @include flex(row, center, center);
        gap: calc($gap-huge * 1.5);
      }
    }
  }
}
