@use "@revyn/styles" as *;

.gallery {
  @include grid(100%);
  justify-items: center;
  &__tabs {
    a {
      color: $grayscaleLight;
      &:hover,
      &:focus,
      &:active {
        color: $clrRevyPrimary;
      }
    }
  }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: $clrRevyPrimary !important;
}

@media screen and (max-width: $breakpointTablet) {
  .media {
    max-width: 100%;
    &__tabs {
      position: relative;
      z-index: 100000;
    }
    .gallery {
      max-width: 100%;
      overflow-x: scroll;
      &__tabs {
        max-width: 100%;
      }
    }
  }

  .css-heg063-MuiTabs-flexContainer {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    position: relative;
    z-index: 100000;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
