@use "@revyn/styles" as *;

.ensemble,
.production {
  @include grid(100%);
  gap: $gap;

  @media screen and (min-width: $breakpointTablet) {
    @include grid(repeat(2, 1fr));
  }
  @media screen and (min-width: $breakpointDesktop) {
    @include grid(repeat(3, 1fr));
  }
}

.ensemble {
  &__card {
    padding: $padding;
    @include grid(100%);
    justify-items: center;
    box-shadow: inset $shadow;
    transition: box-shadow 0.5s ease-in;
    &:hover {
      box-shadow: inset $shadowHover;
    }
    & > * {
      @include fontIngress;
    }
    img {
      margin-bottom: $margin;
    }
    &--name {
      font-family: $ffHeading;
    }
    &--years {
      font-family: $ffParagraph;
    }
    &--city {
      @include fontSmall;
    }
  }
}

.band {
  @include grid(100%);
  text-align: center;
  gap: $gap;

  @media screen and (min-width: $breakpointTablet) {
    @include grid(repeat(2, 1fr));
  }

  article {
    @include flex(column, center, center);
    gap: $gap;
  }

  h2 {
    @include fontH3;
    font-family: $ffHeading;
  }
}
