@use "@revyn/styles" as *;

.ensemble,
.band {
  @include grid(100%);
  gap: $gap;

  @media screen and (min-width: $breakpointTablet) {
    @include grid(repeat(6, 1fr));
  }
}
.production {
  @include grid(100%);
  gap: $gap;
  @media screen and (min-width: $breakpointDesktop) {
    max-width: 70vw;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    place-content: center;
  }
  &__card {
    aspect-ratio: 1 / 1.4;
    @media screen and (min-width: $breakpointDesktop) {
      width: 100%;
    }
    position: relative;
    box-shadow: $shadow;
    overflow: hidden;
    &--image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &--info {
      @include absolute(bottom, left, 0, 0);
      background: $gradientPrimary;
      box-shadow: 0px -2px 8px 0px $clrRevyPrimary;
      width: 100%;
      padding: $padding;
      border-radius: calc($radius * 4) calc($radius * 4) 0 0;
      h2 {
        @include fontH3;
        font-family: $ffHeading;
      }
      p {
        @include fontParagraph;
        font-family: $ffParagraph;
      }
    }
    @media screen and (min-width: $breakpointDesktop) {
      &:nth-child(n + 1) {
        grid-column: span 3;
      }
      &:nth-child(n + 5) {
        grid-column: span 4;
        aspect-ratio: 1 / 1.2;
      }
    }
  }
}
.band {
  &__card {
    position: relative;
    @include flex(column, center, center);
    gap: $gap;
    text-align: center;

    h2 {
      @include absolute(top, left, $base, 50%);
      transform: translateX(-50%);
      background: $gradientPrimary;
      padding: $padding-sml $padding-huge;
      box-shadow: $shadow;
    }
    h3 {
      @include fontH3;
      font-family: $ffHeading;
      @include absolute(bottom, left, $base, 50%);
      transform: translateX(-50%);
      width: 100%;
    }
  }
}
.ensemble,
.band {
  .card__ensemble,
  .card__band {
    @media screen and (max-width: $breakpointDesktop) {
      isolation: isolate;
    }
    &--image {
      @include fixedRatio(calc($base * 22.5), 1 / 0.7);
      object-fit: cover;
    }
    &--info {
      @include flex(column, flex-start, flex-start);
      gap: $gap;
      h2 {
        @include fontH3;
        font-family: $ffHeading;
      }
      p {
        strong {
          @include fontIngress;
          font-weight: 700;
        }
        @include fontParagraph;
        font-family: $ffParagraph;
      }
      &-city {
        display: flex;
        gap: $gap;
        align-items: center;
      }
    }
  }
}
