@use "@revyn/styles" as *;

.media {
  padding: $padding-large;
  @include grid(100%);
  justify-items: center;
  &__tabs {
    a {
      color: $grayscaleLight;
    }
  }
  &__link {
    margin: $margin-large;
    h2 {
      @include fontH2;
      font-family: $ffIngress;
      strong {
        color: $clrRevyPrimary;
        text-transform: uppercase;
        text-decoration: underline;
      }
    }
  }
  &__videos {
    margin: $margin-large;
    max-width: 1400px !important;
    @include grid(100%);
    gap: $gap;

    & > a {
      --border-width: 4px;
      padding: $padding-nano;
      background: $gradientDark;
      border-radius: $radius;
      transition: all 1s ease-in-out;
      &:hover {
        background: $gradientPrimary;
      }
    }

    article.card__band {
      background: $gradientDark;
      justify-items: center !important;
      color: $grayscaleLight;
      @media screen and (min-width: $breakpointDesktop) {
        justify-items: start !important;
      }
      h2 {
        font-size: calc($fsBase * 1.25);
        line-height: normal;
        font-weight: $fwBold;
        font-family: $ffIngress;
      }
      p {
        font-weight: $fwBold;
      }
    }

    @media screen and (min-width: $breakpointDesktop) {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
