@use "@revyn/styles" as *;

/* Hero */
.hero {
  height: 50vh;
  @include bgGroup("../../../../../public/historikHero.jpg", cover, center);
  position: relative;

  &::before {
    @include bgOverlay(rgba(0, 0, 0, 0.7));
  }
}
.slick-slider {
  padding-block: $padding;
  box-shadow: $shadow;
  @include absolute(top, left, 50%, 50%);
  transform: translate(-50%, -50%);
}
.slick-arrow,
.slick-dots {
  display: none !important;
}
.slider {
  position: relative;
  overflow: hidden;
  @include flex(row, center, center);
  transition: transform 0.5s ease;
  max-width: 90vw;
  height: calc($base * 20);

  &__item {
    flex-shrink: 0;
    transition: opacity 0.5s ease;
    @include fixedRatio(calc($base * 20), 1);
    object-fit: contain;
  }
}
/* ------- */

.history {
  max-width: 1400px;
  margin: $base auto;
  @include grid(100%);
  padding-block: $padding-huge;

  &__info {
    --margin: calc(#{$base} * -7);
    @include grid(100%);
    gap: calc($gap-huge * 2);
    padding: $padding-huge;
    &--item {
      @include flex(column, space-between, center);
      gap: $gap;

      @media screen and (min-width: $breakpointDesktop) {
        flex-direction: row;
      }
      &-image {
        width: calc($base * 31);
        height: auto;
        box-shadow: $shadow;
      }
      &-content {
        padding: calc($padding-huge * 2);
        height: 100%;
        @include center;
        position: relative;
        @media screen and (max-width: $breakpointDesktop) {
          padding: $padding-large;
        }
        &_title {
          @include fontH2;
          font-family: $ffHeading;
          color: $clrRevyPrimary;
          letter-spacing: 1.4px;
          @media screen and (max-width: $breakpointDesktop) {
            text-align: center;
          }

          &::before {
            content: attr(data-attribute);
            @include absolute(top, left, -10%, 0%);
            color: $grayscaleDark;
            font-size: calc($fsBase * 8);
            opacity: 0.8;
            z-index: -1;
            @media screen and (max-width: $breakpointDesktop) {
              top: -4%;
            }
          }
        }
        &_text {
          @include fontParagraph;
          line-height: 200%;
          font-size: $fsBase;
          font-family: $ffParagraph;
        }

        &.highlight {
          @include fontH2;
          font-family: $ffHeading;
          color: $clrRevyPrimary;
          letter-spacing: 1.4px;
          @media screen and (max-width: $breakpointDesktop) {
            text-align: center;
          }
        }
      }

      &:nth-child(even) {
        @media screen and (min-width: $breakpointDesktop) {
          flex-direction: row-reverse;
        }
      }
    }
    &--item:last-of-type {
      padding: unset;
    }
  }
}
