@use "@revyn/styles" as *;

body:has(.construction) {
  @include center;
}

.construction {
  @include center;
  gap: $gap-huge;
  justify-items: center;
  position: relative;
  &__image {
    @include fixedRatio(calc($base * 60), 2 / 1);
    @include bgGroup("/construction.png", cover, center);
  }
  &__headline {
    font-size: calc($fsBase * 2);
    text-transform: uppercase;
    font-weight: $fwBold;
  }

  &__counter {
    @include flex(row, center, center);
    gap: $gap-huge;
    @include fontH2;
    padding: $padding;
    color: $grayscaleLight;

    .countdown {
      @include flex(column, center, center);
      gap: $gap;

      &.danger {
        color: #ff0000;
      }

      p,
      span {
        text-shadow: 2px 2px 30px rgba(255, 255, 255, 0.5);
      }

      span {
        text-transform: uppercase;
        font-size: $fsBase;
      }
    }
  }

  &__info {
    @include center;
    justify-items: center;
    gap: $gap;
    text-align: center;
    @include fontParagraph;
    font-family: "Salsa", sans-serif;
    color: $grayscaleLight;
  }
}

@media screen and (max-width: $breakpointLarge) {
  .construction {
    &__image {
      @include fixedRatio(calc($base * 25), 2 / 1);
    }
    padding: $padding;
    &__headline {
      font-size: calc($fsBase * 1.6);
    }
  }
}
