$grayscaleBlack: hsla(0, 0%, 10%, 1);
$grayscaleDark: hsla(202, 43%, 15%, 1);
$grayscaleSlate: hsla(210, 13%, 50%, 1);
$grayscaleGray: hsla(214, 45%, 90%, 1);
$grayscaleLight: hsla(214, 47%, 97%, 1);
$grayscaleWhite: hsla(0, 0%, 100%, 1);
$grayscaleGlass: hsla(0, 0%, 100%, 0.1);

$clrPrimary: hsla(227, 89%, 55%, 1);
$clrSecondary: hsla(329, 89%, 55%, 1);
$clrSuccess: hsla(165, 68%, 53%, 1);
$clrDanger: hsla(355, 89%, 55%, 1);
$clrWarning: hsla(48, 100%, 53%, 1);
$clrInfo: hsla(213, 87%, 59%, 1);

$clrRevyPrimary: hsla(26, 100%, 50%, 1);

$gradientPrimary: linear-gradient(225deg, $clrDanger 0%, #ff6f00 100%);
$gradientSecondary: linear-gradient(225deg, $clrSecondary 0%, #ff6f00 100%);
$gradientSuccess: linear-gradient(225deg, $clrSuccess 0%, $clrSecondary 100%);
$gradientDanger: linear-gradient(225deg, $clrDanger 0%, $clrSecondary 100%);
$gradientWarning: linear-gradient(225deg, $clrWarning 0%, $clrSuccess 100%);
$gradientInfo: linear-gradient(225deg, #00fcfe 0%, $clrPrimary 100%);
$gradientDark: linear-gradient(225deg, $grayscaleBlack 0%, $grayscaleDark 100%);

/* BREAKPOINTS */
$breakpointMobile: 420px;
$breakpointTablet: 576px;
$breakpointTabletLarge: 768px;
$breakpointDesktop: 992px;
$breakpointLarge: 1200px;
$breakpointHuge: 1440px;
$breakpointGigantic: 1800px;
/* EFFECTS */

$radius: 4px;

$shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.7);
$shadowHover: 0px 0px 16px 0px $clrRevyPrimary;
$shadowGlass: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

$duration: 0.2s;

/* PADDING, MARGIN, GAP */

$base: 16px;

$padding-huge: calc($base * 2);
$padding-large: calc($base * 1.5);
$padding: $base;
$padding-sml: calc($base / 2);
$padding-nano: calc($base / 4);

$margin-huge: calc($base * 2);
$margin-large: calc($base * 1.5);
$margin: $base;
$margin-sml: calc($base / 2);
$margin-nano: calc($base / 4);

$gap-huge: calc($base * 2);
$gap-large: calc($base * 1.5);
$gap: $base;
$gap-sml: calc($base / 2);
$gap-nano: calc($base / 4);

/*  HELPERS */

@mixin bgGroup($img, $size: contain, $position: center, $gradient: null) {
  @if ($gradient) {
    background: url($img), $gradient;
  } @else {
    background-image: url($img);
  }
  background-size: $size;
  background-repeat: no-repeat;
  background-position: $position;
}

@mixin fixedRatio($width, $aspectRatio) {
  width: $width;
  aspect-ratio: $aspectRatio;
}

@mixin center {
  display: grid;
  place-content: center;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($columns) {
  display: grid;
  grid-template-columns: $columns;
  grid-auto-rows: auto;
}

@mixin absolute($placementY, $placementX, $valueY: $base, $valueX: $base) {
  position: absolute;
  #{$placementY}: $valueY;
  #{$placementX}: $valueX;
}

@mixin fixed(
  $placementY,
  $placementX,
  $valueY: 50%,
  $valueX: 50%,
  $translate: -50% -25%
) {
  position: fixed;
  #{$placementY}: $valueY;
  #{$placementX}: $valueX;
  translate: $translate;
}

@mixin glassMorph($background) {
  background: $background;
  box-shadow: $shadowGlass;
  backdrop-filter: blur(calc($base * 0.75));
  -webkit-backdrop-filter: blur(calc($base * 0.75));
  border-radius: calc($radius * 2.5);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@mixin textShadow($first, $second) {
  text-shadow: 1px 1px 2px $first, 0 0 1em $second, 0 0 0.2em $second;
}

@mixin bgOverlay($background) {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background;
}
