@use "@revyn/styles" as *;

.splash {
  height: 100vh;
  @include center;
  padding-inline: $padding-huge;
  perspective: 600;

  img {
    width: 310px;

    @media screen and (max-width: $breakpointDesktop) {
      max-width: 200px;
    }
  }

  &__actions {
    @include flex(row, space-evenly, center);
    gap: $gap;
  }
}
