@use "@revyn/styles" as *;

.menu {
  --radius: 50%;
  @include center;
  height: 0vh;
  z-index: -1;

  &__background {
    background: $gradientDark;
  }
  &__toggle {
    outline: none;
    border: none;
    border-radius: --var(--radius);
    cursor: pointer;
    @include absolute(top, right, calc($base * 1.1), $base);
    @include fixedRatio(calc($base * 3), 1);
    background: transparent;
    z-index: 10001;
  }
}
.menu,
.menu__background {
  @include absolute(top, right, 0, 0);
  bottom: 0;
  width: calc($base * 20);
  &__list {
    height: 0%;
  }
}
.menu.active {
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
  .menu__list {
    height: 100%;
  }
}

.refresh {
  @include absolute(top, right, calc($base / 2), calc($base / 2));
  @include fixedRatio(calc($base * 1.25), 1);
  cursor: pointer;
  padding: $padding-sml;
  border-radius: calc($base / 2);
  @include flex(row, center, center);
  background: $grayscaleBlack;
}
