@use "@revyn/styles" as *;

.menu {
  z-index: 100;
  &__background {
    background: transparent;
  }
  &__list,
  &__list--item {
    margin: 0;
    padding: 0;
  }
  &__list {
    padding: $padding-large;
    @include absolute(top, right, 5%, 0%);
    width: 100vw;
    @include grid(repeat(2, 1fr));
    @media screen and (min-width: $breakpointLarge) {
      width: 100%;
      grid-template-columns: 100%;
    }

    &--item {
      list-style: none;
      margin-bottom: $base;
      @include flex(row, center, center);
      cursor: pointer;
      transition: all 0.5s;

      .first {
        height: 50%;
        margin: auto;
      }
      .icon {
        @include fixedRatio(calc($base * 2.5), 1);
        border-radius: 50%;
        flex: calc($base * 2.5) 0;
        margin-right: $padding-large;
      }
      .text {
        border-radius: calc($base / 4);
        width: calc($base * 10);
        flex: 1;
      }
    }
  }
  &__toggle {
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    @include absolute(top, right, calc($base * 1.1), $base);
    @include fixedRatio(calc($base * 3), 1);
    background: transparent;
  }
}
.menu,
.menu__background {
  @include absolute(top, right, 0, 0);
  bottom: 0;
  width: calc($base * 20);
}

.refresh {
  @include absolute(top, right, calc($base / 2), calc($base / 2));
  @include fixedRatio(calc($base * 1.25), 1);
  cursor: pointer;
  padding: $padding-sml;
  border-radius: calc($base / 2);
  @include flex(row, center, center);
  background: $grayscaleBlack;
}
