@use "@revyn/styles" as *;

.contact {
  min-height: 100vh;
  @include grid(100%);
  gap: $gap;
  @media screen and (min-width: $breakpointDesktop) {
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
  &__info {
    @include flex(column, flex-start, start);
    gap: $gap;
    h1 {
      @include fontH1;
      font-size: calc($fsBase * 4);
      font-family: $ffHeading;
      color: $clrRevyPrimary;
      @media screen and (min-width: $breakpointDesktop) {
        font-size: calc($fsBase * 6);
      }
    }
    p {
      @include fontIngress;
    }
  }
  img {
    @media screen and (max-width: $breakpointDesktop) {
      display: none;
    }
  }
}
