@use "@revyn/styles" as *;

.wrapper {
  min-height: 100vh;
  position: relative;
  @media screen and (max-width: $breakpointTablet) {
    padding: 4em 0.5em;
  }
  &__image {
    @include fixedRatio(calc($base * 20), 1);
    position: absolute;
    &:nth-of-type(1) {
      top: calc($base * 4);
      left: calc($base * 4);
      transform: rotate(-15deg);
    }
    &:nth-of-type(2) {
      top: calc($base * 4);
      right: calc($base * 4);
      transform: rotate(15deg);
    }
  }
  .info {
    @include flex(column, center, center);
    gap: $gap-large;
    text-align: center;
    &__top {
      @include flex(column, center, center);
      gap: $gap-large;
      @media screen and (min-width: $breakpointTablet) {
        padding-inline: $padding-huge;
      }
      h1 {
        @include fontH1;
        font-size: calc($fsBase * 6);
        font-family: $ffHeading;
        span {
          color: $clrRevyPrimary;
          text-shadow: 1px 1px 2px maroon, 0 0 1em orange, 0 0 0.2em orange;
        }
      }
      h2 {
        @include fontH2;
        font-size: calc($fsBase * 2);
        font-family: $ffHeading;
        @media screen and (min-width: $breakpointTablet) {
          padding-inline: calc($padding-huge * 4);
        }
      }
      h3 {
        @include fontIngress;
        font-family: $ffHeading;
        @media screen and (min-width: $breakpointTablet) {
          padding-inline: calc($padding-huge * 4);
        }
      }
      p {
        @include fontParagraph;
        font-size: $fsBase;
        @media screen and (min-width: $breakpointTablet) {
          padding-inline: calc($padding-huge * 2);
        }
      }
    }

    &__bottom {
      @include flex(column, center, center);
      gap: $gap-large;
      @media screen and (min-width: $breakpointTablet) {
        padding-inline: $padding-huge;
      }
    }

    &__tickets {
      @include grid(repeat(3, 1fr));
      @media screen and (max-width: $breakpointTablet) {
        grid-template-columns: 100%;
      }
      gap: $gap-large;
      padding: $padding-large;
      &--card {
        @include fixedRatio(calc($base * 20), 1);
        padding: $padding;
        @include flex(column, space-around, center);
        box-shadow: $shadow;

        &-type {
          @include fontH3;
          font-size: calc($fsBase * 3);
          font-family: $ffIngress;
          color: $clrRevyPrimary;
          text-shadow: 1px 1px 2px maroon, 0 0 1em orange, 0 0 0.2em orange;
        }
        &-price {
          @include fontParagraph;
          font-size: calc($fsBase * 4);
          font-family: $ffHeading;
          padding-inline: calc($padding-huge * 2);
          text-shadow: 1px 1px 2px rgb(255, 255, 255),
            0 0 1em rgb(252, 251, 250), 0 0 0.1em rgb(254, 254, 253);
        }
        &-service,
        &-limit {
          font-family: $ffIngress;
        }
        &-limit {
          min-height: calc($base * 2);
        }
      }
    }
    &__general {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      gap: $gap;
    }
  }
}
