@use "@revyn/styles" as *;

.team {
  max-width: 1200px;
  margin: auto;
  padding: $padding-large 0;
  .outlet {
    width: 100%;
    & > * {
      width: 100%;
    }
  }
  &__tabs {
    position: relative;
    @include flex(row, center, center);
    gap: $gap;
    padding-block: $padding-huge;

    &--link {
      @include fontIngress;
      font-family: $ffIngress;
      &.active {
        border-bottom: 1px dotted $clrRevyPrimary;
      }
    }
  }

  @media screen and (max-width: $breakpointDesktop) {
    padding: $padding-huge $padding-large;
  }
}
