@use "@revyn/styles" as *;

.team {
  max-width: 1200px;
  margin: auto;
  padding-block: calc($padding-huge * 4);

  [role="tablist"] {
    padding-block: $padding;
    justify-content: center;

    a {
      color: $grayscaleLight;
    }
  }
  .css-1aquho2-MuiTabs-indicator {
    display: none;
  }
}
